body {
    background-color: rgb(245, 245, 242);
    height: 1000vh;
}

.contenedor { 
    width: 900px;
    height: 2000px;
    border: rgb(245, 243, 243) 5px  dashed;
    margin: 0px auto;
}

.caja1 {
    background-color: blue;
    /*width: 900px;*/
    height: 100px;
    /*float:left;*/
    margin-bottom: 10px;
}

.nav {
    background-color: rgb(236, 44, 243);
    width: 900px;
    height: 100px;
    float:left;
    position: sticky;
    opacity: .5;
    top: 0;
}

.caja2 {
    background-color: rgb(149, 231, 17);
    width: 300px;
    height: 300px;
    float:left;
}

.caja3 {
    background-color: rgb(214, 14, 41);
    width: 600px;
    height: 300px;
    float:left;
}

.titulo {
    font-size: 50px;
    text-align: center;
}

.caja4 {
    background-color: brown;
    
    width: 300px;
    height: 300px;
    /*margin-top: 300px;*/
    float: left;
   
    z-index: -2;
}

.caja5 {
    background-color: rgb(3, 85, 16);
  
    width: 300px;
    height: 300px;
    float: left;
   
}

.caja6 {
    background-color: rgb(46, 163, 209);
  
    width: 300px;
    height: 300px;
    float: left;
   
}
.caja7 {
    background-color: rgb(3, 85, 16);
  
    width: 600px;
    height: 300px;
    float: left;
   
}

.caja8 {
    background-color: rgb(46, 163, 209);
  
    width: 300px;
    height: 300px;
    float: left;  
}

.caja9 {
    background-color: rgb(135, 128, 238);
  
    width: 225px;
    height: 500px;
    float: left;
}

.caja10 {
    background-color: rgb(216, 243, 141);
  
    width: 225px;
    height: 500px;
    float: left; 
}
.caja11 {
    background-color: rgb(135, 128, 238);
  
    width: 225px;
    height: 500px;
    float: left; 
}

.caja12 {
    background-color: rgb(210, 235, 102);
  
    width: 225px;
    height: 500px;
    float: left; 
}




/*codigo de otro lado cubos encima */

.caja_morada {
    height: 150px;
    width: auto;
    background-color: rgb(44, 4, 99);
    padding: 10px;
  }

.caja_roja {
    height: 100px;
    width: 950px;
    background-color: rgb(209, 10, 23);   
    margin: 0 auto;
    
    margin-top: 20px;
    
  }
